:root {
  --text: #f6aca2;
  --textOutlineColor: #000000;
  --textOutlineWidth: 1px;
  --shadow-part1: #f49b90;
  --shadow-part2: #f28b7d;
  --shadow-part3: #f07a6a;
  --shadow-part4: #ee6352;
  --fontFamily: bungee, sans-serif;
}

body {
  font-family: var(--fontFamily);
  font-size: .5rem;
  font-weight: 300;
  font-size: 1.25rem;
  display: grid;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

img {
  border-radius: 8px;
  margin: auto;  
  max-width: 75%;
}

.alerts {
  display: grid;
  justify-content: center;
  width: 75vw;
  text-align: center;
}

.content {
  display: flex;
  align-content: center;
  justify-content: center;
}

.text-shadows {
  -webkit-text-stroke-width: var(--textOutlineWidth);
  -webkit-text-stroke-color: var(--textOutlineColor);
  text-shadow: 3px 3px 0 var(--shadow-part1), 6px 6px 0 var(--shadow-part2), 9px 9px var(--shadow-part3), 12px 12px 0 var(--shadow-part3);
  font-family: var(--fontFamily);
  font-size: 3vw;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  color: var(--text);
  animation: shadows 1.5s ease-in infinite, move 3s ease-in infinite;
  letter-spacing: 0.25rem;
}


.fade-in {
  animation: fadeIn ease 6s;
  -webkit-animation: fadeIn ease 6s;
  -moz-animation: fadeIn ease 6s;
  -o-animation: fadeIn ease 6s;
  -ms-animation: fadeIn ease 6s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
@keyframes shadows {
  0% {
    text-shadow: none;
  }
  10% {
    text-shadow: 3px 3px 0 var(--shadow-part1);
  }
  20% {
    text-shadow: 3px 3px 0 var(--shadow-part1),
      6px 6px 0 var(--shadow-part2);
  }
  30% {
    text-shadow: 3px 3px 0 var(--shadow-part1),
      6px 6px 0 var(--shadow-part2), 9px 9px var(--shadow-part3);
  }
  40% {
    text-shadow: 3px 3px 0 var(--shadow-part1),
      6px 6px 0 var(--shadow-part2), 9px 9px var(--shadow-part3),
      12px 12px 0 var(--shadow-part4);
  }
  50% {
    text-shadow: 3px 3px 0 var(--shadow-part1),
      6px 6px 0 var(--shadow-part2), 9px 9px var(--shadow-part3),
      12px 12px 0 var(--shadow-part4);
  }
  60% {
    text-shadow: 3px 3px 0 var(--shadow-part1),
      6px 6px 0 var(--shadow-part2), 9px 9px var(--shadow-part3),
      12px 12px 0 var(--shadow-part4);
  }
  70% {
    text-shadow: 3px 3px 0 var(--shadow-part1),
      6px 6px 0 var(--shadow-part2), 9px 9px var(--shadow-part3);
  }
  80% {
    text-shadow: 3px 3px 0 var(--shadow-part1),
      6px 6px 0 var(--shadow-part2);
  }
  90% {
    text-shadow: 3px 3px 0 var(--shadow-part1);
  }
  100% {
    text-shadow: none;
  }
}

@keyframes move {
  0% {
    transform: translate(0px, 0px);
  }
  40% {
    transform: translate(-12px, -12px);
  }
  50% {
    transform: translate(-12px, -12px);
  }
  60% {
    transform: translate(-12px, -12px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

